# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# 가상환경
venv/
.venv/

# 환경변수
.env

# DB
*.db
*.sqlite3

# 업로드 영상 (용량 큼)
uploads/

# IDE
.idea/
.vscode/
*.swp

# macOS
.DS_Store
__MACOSX/

# 배포 캐시
.netlify/
.reaction-pwa/.netlify
.vercel/
.poetry-cache/

# 테스트
.pytest_cache/
.coverage